body 
{
    margin:0;
    padding:0;
}
p
{
    padding:10px 0px 0px 12px;
    margin:0;
}
.main 
{
    display:flex;
    /* height:80vh; */
    flex-direction:row;
    flex-wrap:wrap;
}
.nav 
{
    flex-basis:20%;
    background:#ccf2ff;
    height:100vh;
}
.container 
{
    flex-basis:80%;
    display:flex;
    flex-direction:column;
}
.header 
{
    height:10vh;
    display:flex;
    background:#00ff00;;
}
.section 
{
    display:flex;
    height: 90vh;
}
.article 
{
    
    flex-basis:80%;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
}
.footer  
{
    background:#00ff00;
     height:10vh;
}
.article1
{
    height:60vh;
    background:#fff;
}
.aside 
{
    flex-basis:20%;
    background: #e6e6ff;
}
/*-----------responsive-design------------------------*/
@media only screen and (max-width: 991.98px){
    .container {
        width: 100%;
    }
    .section {
        flex-direction: column;
        width: 100%;
    
    }
    .aside{
        width: 100%;
        order: -1;
    }


}
/*Small devices (landscape phones, less than 768px)*/

@media only screen and (max-width: 767.98px) {
    
.main{
        flex-direction: column;
    }
    .nav{
        width: 100%;
    }
    .nav p{
        padding: 15px;
    }
    .container {
        width: 100%;
    }
    .section {
        flex-direction: column;
        width: 100%;
    
    }
    .aside{
        width: 100%;
        order: -1;
    }

}
/* Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px){
    .main{
        flex-direction: column;
    }
    .nav{
        width: 100%;
    }
    .nav p{
        padding: 15px;
    }
    .container {
        width: 100%;
    }
    .section {
        flex-direction: column;
        width: 100%;
    
    }
    .aside{
        width: 100%;
        order: -1;
    }


}